# Ignore all hidden files and directories (.git, .github, .vscode, .bundle, .env)
.*
!.ruby-version

# Documentation and repository config
*.md
docs/
/*.toml
/*.yml
/*.yaml
/*.json
Dockerfile*
dockerized*
justfile
Justfile
LICENSE

# Logs, temporary files, storage, keys
log/
tmp/
coverage/
vendor/
node_modules/
config/*.key
config/credentials/*.key
storage/
public/assets
test
